<?php

/**
 * This is the unit test configuration file for Services_Akismet2
 *
 * @category  Services
 * @package   Services_Akismet2
 * @author    Michael Gauthier <mike@silverorange.com>
 * @copyright 2008 silverorange
 * @license   http://www.gnu.org/copyleft/lesser.html LGPL License 2.1
 * @version   CVS: $Id: config.php.dist,v 1.1 2008-12-28 20:26:58 gauthierm Exp $
 * @link      http://pear.php.net/package/Services_Akismet2
 */

$GLOBALS['Services_Akismet2_Unittest_Config'] = array(
    'blogUri' => 'http://example.com/blog/',
    'apiKey'  => 'AABBCCDDEEFF'
);

?>
